version: "2"
services:
  mongo:
    image: mongo
    restart: always
    ports:
    - "27017:27017"
    volumes:
    - ./data/db:/data/db
  backend:
    container_name: backend
    restart: always
    build: ./back
    environment:
      DEBUG: chordlib:*
      PORT: 4000
    ports:
    - "4000:4000"
    links:
    - mongo
    volumes:
    - ./back/src:/app/src
    - ./back/public:/app/public
  frontend:
    container_name: frontend
    restart: always
    build: ./front
    ports:
    - "3000:3000"
    links:
    - backend
    volumes:
    - ./front/src:/usr/www/src
    - ./public:/usr/www/static
  mongo-express:
    image: mongo-express
    restart: always
    ports:
    - "8081:8081"
    links:
    - mongo
  ftp-server:
    image: stilliard/pure-ftpd:hardened
    ports:
      - "21:21"
      - "30000-30009:30000-30009"
    volumes:
      - ./files/public:/home/chordlib/
      # - ./files/passwd:/etc/pure-ftpd/passwd
    environment:
      FTP_USER_HOME: /home/chordlib
    restart: always
