version: "2"
services:
  backend:
    volumes:
      - ./back/src:/app/src
      - ./back/public:/app/public
      - ./back/node_modules:/app/node_modules
      - ./files/public:/app/files
      - ./files/artists:/app/artists
  ftp-server:
    environment:
      FTP_USER_NAME: chordlib
      FTP_USER_PASS: chordlib
